.discover-container {
    background-color: #495057;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 7.8rem;
    color: white;
}

.discover-upper {
    height: 50%;
    color: white;
    background-image: url("https://www.linkpicture.com/q/7mXlKog.jpeg");
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 16rem;
    border-radius: 1rem;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 1%;
    padding: 20px;
}

.discover-upper>h1 {
    color: white;
    text-shadow: 4px 4px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.discover-upper>h2 {
    color: white;
    text-shadow: 4px 4px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discover.lower {
    background-color: #495057;;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100%;
    width: 100%;

}

h2.discover {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 45px;
}

.discover-cards-container {
    /* background-color: red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 100%;
    width: 100%;
    gap: 1rem;
}

.card-inner-container {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;

}

.server-card {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;

}

.server-card-button {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 10px;
    width: 250px;
    border: none;
    padding: 0;
    height: 250px;
    font-size: 20px;
    background-color: #343a40;
    color: white;
    transition-property: background-color, transform;
}

.server-card-button:hover {
    background-color: #252b31;
    transform: scale(1.01);
    transition-duration: 0.5s;
}

.server-photo {
    height: 200px;
    width: 250px;
    border-radius: 10px 10px 0px 0px;

}

.server-card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
