.discover-container {
    background-color: #495057;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 7.8rem;
    color: white;
    overflow-y: scroll;
    /* min-width: 100vw; */
    /* margin: 0; */
}

.discover-container-no-user {
    background-color: #495057;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 7.8rem;
    color: white;
    overflow-y: scroll;
    min-width: 100vw;
    margin: 0;
}



.discover-upper {
    height: 50%;
    color: white;
    background-image: url("https://www.linkpicture.com/q/7mXlKog.jpeg");
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 16rem;
    border-radius: 1rem;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 1%;
    padding: 20px;
}

.discover-upper-no-user {
    height: 50%;
    color: white;
    background-image: url("https://www.linkpicture.com/q/7mXlKog.jpeg");
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 16rem;
    border-radius: 1rem;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 1%;
    padding: 20px;
}

.discover-upper>h1,
.discover-upper-no-user>h1 {
    color: white;
    text-shadow: 4px 4px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.discover-upper>h2,
.discover-upper-no-user>h2 {
    color: white;
    text-shadow: 4px 4px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discover.lower,
.discover.lower-no-user {
    background-color: #495057;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100%;
    width: 100%;

}

h2.discover,
h2.discover-no-user {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 45px;
}

.discover-cards-container,
.discover-cards-container-no-user {
    /* background-color: red; */
    display: flex;
    flex-flow: row wrap;
    min-height: 100%;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.card-inner-container,
.card-inner-container-no-user {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;

}

.server-card {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;

}

.server-card-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 250px;
    border: none;
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;
    height: 250px;
    font-size: 20px;
    background-color: #343a40;
    color: white;
    transition-property: background-color, transform, box-shadow;
}

.server-card-button:hover {
    background-color: #252b31;
    transform: scale(1.01);
    transition-duration: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.server-photo {
    height: 200px;
    width: 250px;
    border-radius: 10px 10px 0px 0px;

}

.server-card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.join-server-h1 {
    font-size: 30px;
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
}

.join-server-btn-div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.join-server-submit-btn {
    background-color: rgb(39, 132, 195);
    color: white;
    border-radius: 5px;
    width: 70px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

.join-server-submit-btn:hover {
    cursor: pointer;
    background-color: rgb(18, 117, 183);;
}

.joined-server-p {
    text-align: center;
    color: rgb(39, 132, 195);
    text-transform: uppercase;
    font-size: 15px;
}

.fa-solid.fa-circle-xmark {
    color: rgb(39, 132, 195);
    margin-left: 13rem;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fa-solid.fa-circle-xmark:hover {
    color: rgb(18, 117, 183);
    cursor: pointer;
    font-size: 30px;
}