/* .navigation {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    position: absolute;
    color: white;
} */

/* .navigation {
    display: flex;
    justify-content: space-between;
    position: static;
    margin-right: 10px;
    color: red;
} */
/* nav {
    position: relative;
    height: 50px;
    border: 1px solid red;
    top: 0;
    margin: 0px;
} */


/* .navigation {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
} */
.navigation {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: .5em auto;
}

.navigation>div {
    display: flex;
}

.navigation>div>div{
    margin-right: 10px;
}
