.user-list-container {
    margin-left: 10rem;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: #495057;
    color: white;
    min-height: 100vh;
    align-items: center;
    width: 16rem;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    left:8rem;
}

.user-box {
    margin-left: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

.user-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-list li {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.user-list li:hover {
    background-color: green;
    transition: all 1s ease;
    color: white
}
