/* TODO Add site wide styles */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05em;
    box-sizing: border-box;
}

root {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color:  lightgrey;
}

.form {
    padding: 10px;
    margin: 10px;
}

/* .form-misc {
    display: flex;
    justify-content: center;
    align-content: center;
} */

.close-button {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.close-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-here-button {
    background-color: rgb(39, 132, 195);
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.login-here-button:hover {
    cursor: pointer;
    background-color: rgb(18, 117, 183);
}


/* .button::after {
    background: #b6a6ca;
    border-radius: 50px;
    transform: sacleY(0);
    transition: transform 0.3s ease;
}

.button:hover::after {
    transform: scaleY(1);
} */

#modal-background {
    background-color: black;
    opacity: 0.85;
    border: none;
}

#modal-content {
    background-color:#434b52;
    opacity: 1;
    /* padding: 20px; */
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: center; */
    color: white;
    height: fit-content;
    width: 29rem;
    box-shadow: none;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0%;
}
