.dm-chat-container {
  position: absolute;
  left: 22vw;
  top: 0;
  width: 78vw;
  height: 100vh;
}

.dms-container {
  background-color: #6b7077;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  padding: .5em 2em;
  padding-left: .2em;
}

.dm-history-container {
  margin: 1em;
  margin-left: 2em;
  padding-left: 1em;
}

.chat-box-container {
  margin: .1em;
}

.chat-box-container {
  width: 78vw;
  padding-bottom: 1em;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2em;
}

#chat-box-form input {
  width: 90%;
  height: 40px;
  background-color: #9fa6af;
  border-radius: 10px;
  padding: 10px;
}

.dm-history-container div {
  color: white;
  font-size: 14px;
  margin: .5em;
}
